# this is only an example
[Desktop Entry]
Type=Application
Exec=/path/to/game
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=example.desktop
Comment[en_US]=some description here
X-GNOME-Autostart-Delay=10
